.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 50px;
    margin-right: 10%;
    margin-left: 10%;
}

.Header .HeaderButtonBorder{
    display: flex;
    width: 100%;
    align-content: center;
    border: 1px solid;
    border-color: transparent;
}

.Header .HeaderButtonBorder button:hover{
    width: 100%;
    background-color: white;
    color: #333333;
    align-content: center;
    border: 3px solid;
    border-color:#333333;
}


.Header .HeaderButtonBorder button{
    border: 0px;
    background-color: #333333;
    color : white;
    width: 100%;
    font-size: 150%;
    margin-right: 5px;
    margin-left: 5px;
}
/*
.Header .HeaderButtonBorder button:hover{
    border: 0px;
    background-color: #333333;
    color : white;
    width: 100%;
    font-size: 150%;
    margin-right: 5px;
    margin-left: 5px;
} */